@model StarGyms.Models.AccountModel

@{
    ViewBag.Title = "Inicio de Sesión";
}
<div class="login-box">
    <div class="login-box-body">
        <img class="login-logo img-responsive" src="@Url.Content("~/Content/img/Logo_Fitness.jpg")" alt="FitnessXtreme 360" />
        <!-- /.login-logo -->
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Usuario", autocomplete = "off" })
                <span class="fa fa-user form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.UserPass, new { @class = "form-control", placeholder = "Constraseña", autocomplete = "off" })
                <span class="fa fa-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.UserPass, "", new { @class = "text-danger" })
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar Sesi&oacute;n</button>
            </div>
            <!-- /.col -->
            @*<a href="#">Olvide mi contraseña</a><br>*@
        }
        <br />
        <img class="login-logo img-responsive" src="@Url.Content("~/Content/img/LogoPrincipal.png")" alt="StartGyms" />
    <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</div>
<script type="text/javascript">
    $('#@Html.IdFor(m => m.UserName)').focus();
</script>